body{background-color: #00CCCC;	text-align:center;margin:0 0 0 0;}
	
table{padding: 1 0 0 0;  width:60%;font-size: 12px; }

tr{font-size: 12px;}

td{text-align:center; width: 12%;}

A.link {font-size: 12px;text-decoration: color:white}

A:Hover {color: yellow;}

  .roll { font-family:Times; font-size:12pt; font-style:normal; font-weight:normal; letter-spacing:normal; text-decoration:none; text-transform:none; color:yellow; }

 A.roll:hover { font-family:Arial; font-size:14pt; color:aqua; }
